.others-hero .hero-content {
    position: relative;
    /* top: 362px; */
    bottom: unset;
    background: unset;

}

.others-hero {
    height: unset;
    padding-top: 400px;
}

.others-hero h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: -2%;
    text-align: center;

}

.others-hero p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #D8DFEE
}

.Featured-devider svg {
    height: 100px;
}

.featured-right p {
    margin: 0px;
    padding: 0px;
}

.project-card-main {
    max-width: 1674px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
}

.card-featured {
    grid-column: 1 / -1;
}

/* Card 2 & 3 – each takes one column at the bottom */
.card-half {
    grid-column: span 1;
}

.project-card-main-section {
    background: linear-gradient(90deg, #00041C60 0%, #010A2660 100%);

}

.project-card {
    width: 822px;
    height: 943px;
    border-radius: 60px;
    background: #02061199;
    margin: auto;
}

.project-info {
    padding: 50px;
}

.project-info h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0%;

}

.project-info h6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.news-latter-main .GlowLTRMain {
    position: relative;
    height: 1px;
    width: 100%;
    margin-top: 100px;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0.66) -8.84%, rgba(122, 134, 196, 0.66) 49.34%, rgba(0, 0, 0, 0.66) 109.8%);
    max-width: 1674px;
    margin-left: auto;
    margin-right: auto;

}

.news-latter-content-box {
    max-width: 768px;
    margin: 100px auto;
    position: relative;
    text-align: center;
}

.news-latter-content-box h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-top: 30px;
}

.news-latter-content-box h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;


}

.news-latter-content-box h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;

}

.news-latter-content-box-GlowLTRMain {
    margin-top: 40px !important;
    margin-bottom: 40px;
}

.news-latter-content-input-cta-wrap {
    justify-content: center;
}

.news-latter-content-svg {
    position: absolute;
    top: -180px;
    z-index: -1;
}

.open-chip-container {
    position: relative;
    margin-top: 20px;
}

.open-chip-container svg {
    position: absolute;
    top: -70px;
    left: -90px;
    z-index: -1;
}

.about-flex-box {
    display: flex;
    gap: 30px;
}

.about-flex-box .pulse-box {
    margin-top: 10px;
}

.about-flex-box h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0%;

}

.about-flex-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;

}

.about-flex-details {
    max-width: 726px;
}

.about-flex-box-main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-featured-right {
    padding: 80px;
}

.project-card-main-section .GlowLTRMain {
    margin-top: 0px !important;
    max-width: unset !important;
}

.section-title {
    text-align: center;
    padding-top: 70px;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: -2%;
    text-align: center;

}