.Expertise-main {
    max-width: 1674px;
    margin: 0 auto;
    padding: 50px 0px;
}

.Expertise-main {
    display: flex;
    gap: 70px;
}

.Expertise-main h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.Expertise-main p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #D8DFEE;
}

.Expertise-main p b {
    color: #fff;
}

.expertise-plan {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: relative;
}

.expertise-plan::before {
    content: "";
    position: absolute;
    width: 1px;
    top: 70px;
    height: 105px;
    background-color: #7A86C4;
    left: 24px;
}

.expertise-plan-item {
    display: flex;
    gap: 30px;
}

.expertise-text h4 {
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-bottom: 15px;
}

.expertise-icon {
    position: relative;
}

.expertise-icon-shadow {
    position: absolute;
    top: -30px;
    left: -40px;
    z-index: -1;
}

.team-section {
    max-width: 1682px;
    margin: 0 auto;
    padding: 100px 0px 0px 0px;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0.66) -8.84%, rgba(195, 204, 248, 0.66) 49.34%, rgba(0, 0, 0, 0.66) 109.8%);

    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.team-head {
    max-width: 896px;
    margin: auto;

}

.team-head h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: -2%;
    text-align: center;
    margin-bottom: 20px;
}

.team-head p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #D8DFEE;
}

.team-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 70px;
}

.team-card {
    background: #01112F75;
    border-radius: 40px;
    padding: 50px;
    position: relative;
    min-height: 571px;
}

.team-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 2px;
    background: linear-gradient(154.06deg, #2440B4 0.49%, #137276 99.41%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.team-details {
    padding: 20px 0px;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0.66) -8.84%, rgba(122, 134, 196, 0.66) 49.34%, rgba(0, 0, 0, 0.66) 109.8%);


}

.team-details h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0%;

}

.team-details h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0%;

}

.team-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 30px;
    color: #fff;
}

.team-section-main .GlowLTRMain {
    max-width: 1674px !important;
}

.team-img {
    position: relative;
}

.team-img-shadow {
    position: absolute;
    top: -40px;
    left: -55px;
    z-index: -1;
}